#work-page-image-modal {
  @apply fixed top-0 left-full w-full h-full z-50  flex items-center justify-center;
}

#work-page-image-modal .background-box {
  @apply absolute top-0 left-0 w-full h-full bg-black/80 z-0;
}

#work-page-image-modal .image-container {
  @apply relative z-10  flex items-center justify-center md:w-auto w-full;
}

#work-page-image-modal .image-container .image-box {
  @apply md:flex-auto flex-1 md:max-w-[70dvw] md:w-300 h-dvh md:max-h-[80dvh] max-h-[50dvh] relative;
}
#work-page-image-modal .image-container .image-box img {
  @apply w-full h-full object-contain;
}

#work-page-image-modal .image-container button {
  @apply cursor-pointer;
}
#work-page-image-modal .image-container button svg {
  @apply md:w-15 md:h-15 w-10 h-10;
}
#work-page-image-modal .image-container button:nth-of-type(1) svg {
  @apply block transform -scale-x-100;
}

#work-page-image-modal.open {
  animation: work-page-image-model-open 0s forwards;
}
#work-page-image-modal.open .background-box {
  opacity: 0;
  animation: work-page-image-model-background-open 0.3s ease-in-out forwards;
}
#work-page-image-modal.open .image-container {
  transform: translateY(100%);
  opacity: 0;
  animation: work-page-image-model-image-box-open 0.2s ease-in-out forwards;
}

#work-page-image-modal.close {
  transform: translateX(-100%);
  animation: work-page-image-model-close 0s forwards;
  animation-delay: 0.3s;
}
#work-page-image-modal.close .background-box {
  opacity: 1;
  animation: work-page-image-model-background-close 0.3s ease-in-out forwards;
}
#work-page-image-modal.close .image-container {
  transform: translateY(0%);
  opacity: 1;
  animation: work-page-image-model-image-box-close 0.2s ease-in-out forwards;
}

@keyframes work-page-image-model-open {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes work-page-image-model-background-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes work-page-image-model-image-box-open {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes work-page-image-model-close {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes work-page-image-model-background-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes work-page-image-model-image-box-close {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
